# gensetup.cfg
# Global NEWS 2 / GNE configuration file.
# This file only holds base file paths used in 
# file path string substitutions in vars.cfg.
# 1/18/2010


# -------------------------------------------------------------------

[STRSUBS]
fpath_in  = inputs
fpath_out = output
